.pagination{
    margin: 10px 0;
    text-align: center;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;

        li{
            .pagination__back, .pagination__next{
                margin: 0 10px;
                height: 39px;
                width: 39px;
                align-self: center;

                &:disabled{
                    border: 1px solid #505050;
                    opacity: 0.5;
                    background: #FFF;

                    svg{
                        fill:#505050;
                    }
                }
            }


            button{
                background: #FFF;
                outline: none;
                display: flex;
                width: 49px;
                height: 49px;
                text-align: center;
                justify-content: center;
                align-items: center;
                border: 1px solid #fe5f1e;
                border-radius: 50%;
                font-size: 20px;
                font-weight: 700;
                color: #fe5f1e;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                svg{
                    fill:#fe5f1e;
                }

                &:hover{
                    color: #FFF;
                    background: #fe5f1e;
                    svg{
                        fill:#FFF;
                    }
                }
            }

            .active{
                color: #FFF;
                background: #fe5f1e;
            }
        }
    }
}